@font-face {
	font-family: 'Centro Slab Pro';
	src: url('../fonts/PF Centro Slab Pro Medium Regular.eot');
	src: local('☺'), url('fonts/PF Centro Slab Pro Medium Regular.woff') format('woff'), url('fonts/PF Centro Slab Pro Medium Regular.ttf') format('truetype'), url('fonts/PF Centro Slab Pro Medium Regular.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}